@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Leading the world in bug tracker application development for demo day projects.</p>
    <p>Company culture. Synergy. Boots on the ground. Moving the needle. Thinking outside the box.</p>
</div>
